{% extends "physics/layout.html" %}

{% block title %}
    About this project
{% endblock %}

{% block body %}

<h3>About this project</h3>

<p>
    This is my final project for Harvard's Introduction to 
    Computer Science course, CS50.
</p>

<p>
    In my previous experience programming (GCSE's, A levels and a small amount in my 
    Maths degree), I mostly used Python with a little bit of Java, R, Matlab and HTML. 
    Since CS50's last two weeks of lectures before the final project were on web design, 
    I decided it would be a good idea to make a website for my final project in order 
    to best develop and cement the skills that I have learnt in the course.
</p>

<p>
    My original vision for this project was somewhat larger than what
    you see here. The plan was to create lessons for lots of different things that 
    occur in space and then relate these back to the laws of nature that govern them. 
    The interesting part for me is to then create interactive learning environments 
    using JavaScript that would help a learner understand aspects of a law of nature.
</p>

<p>
    I quickly realised that I needed to limit the number of topics and scripts that I 
    was going to write. I decided to give lessons on just enough laws of nature to be 
    able to understand the motion of objects moving in a vaccuum in space, in order 
    for a student to understand what was going on in my asteroids game. 
</p>

<p>
    To make the lessons more interesting, I made the ball simulator with the idea 
    that is could be relatively easily repurposed for each of the lessons.
</p>

<p>
    Lastly, I was not sure what I wanted to have as a landing page. After testing a couple
    of ideas, namely a simple static background with text over the top and a bootstrap 
    carousel of pictures from the NASA website, I had the idea of having a moving background 
    that used Javascript and chose to do exactly that.
</p>

<p>
    Contact: joe.ovenden17@gmail.com
    <br><a href="https://github.com/JoeOvenden?tab=repositories" style="color: black">My GitHub</a>
</p>


{% endblock %}
